*.aux
*.idx
*.ilg
*.ind
*.log
*.o
*.a
*.out
*.pdf
*.so
*.swp
*.swn
*.toc
*.ko
*.pcap
.gdb_history
/ramdisk.tar
/ramdisk.igz
/misaka-kernel.64
/misaka-kernel
/kernel/symbols.S
/util/build
/util/local
/util/cross
/base/bin/*
/base/usr/bin/*
/base/usr/lib/*
/base/lib/kuroko/*
/base/usr/share/games/doom
/.make/
/cdrom
/fatbase
/image.iso
/boot/mbr.sys
/bootstub
/.arch
/kernel8.img
/kernel8.img.elf
