[submodule "util/binutils-gdb"]
	path = util/binutils-gdb
	url = ../../toaruos/binutils-gdb
[submodule "util/gcc"]
	path = util/gcc
	url = ../../toaruos/gcc
[submodule "kuroko"]
	path = kuroko
	url = ../../kuroko-lang/kuroko
