toaruos-kernel
toaruos-initrd
toaruos-disk.img
*.o
*.swp
bootloader/stage1.bin
bootloader/stage2.bin
initrd/boot
initrd/bin/*
hdd/boot
hdd/bin/*
.gdb_history
bootdisk.img
util/toaru-toolchain/*
*.log
*.pdf
*.aux
*.ilg
*.idx
*.ind
*.out
*.toc
util/bin/*
.passed
