<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/ttk.css">
        <link rel="stylesheet" href="/css/syntax.css">
    </head>
    <body>
        <div class="header">
            <div class="header-title"><a href="/">{{ site.name }}</a></div>
            <div class="header-link"><a href="/">Home</a></div>
            <div class="header-link"><a href="/download">Download</a></div>
            <div class="header-link"><a href="/about">About</a></div>
        </div>
        <div class="base">
          {{ content }}
        </div>
    </body>
</html>
