<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/ttk.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-27453972-4']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
        <div class="header">
            <div class="header-title"><a href="/">{{ site.name }}</a></div>
            <div class="header-link"><a href="/">Home</a></div>
            <div class="header-link"><a href="/download">Download</a></div>
            <div class="header-link"><a href="/about">About</a></div>
        </div>
        <div class="base">
            {{ content }}
            <div class="footer">
                とあるOS is free software under the <a href="https://github.com/klange/toaruos/blob/strawberry-dev/LICENSE">NCSA License</a><br>
                Copyright 2011-2013 Kevin Lange &lt;klange@dakko.us&gt;
            </div>
        </div>
    </body>
</html>
